/*===========================================
Colors
===========================================*/

$text-dark: #110833;
$text-p: #718398;
$theme-color: #110833;
$success-color: #44A704;
$warning-color: #FF6600;
$danger-color: #D82627;

/*===========================================
Fonts
===========================================*/

$base-font: 'DM Sans'; /* Base font */
$base-font-weight: normal;
$base-font-style: normal;

$base-font-size: 16px;

/*===========================================
Layout Widths
===========================================*/
$global-width: 1000px;
$border-radius: 10px;
