/* Fonts */

@font-face {
    font-family: "Open Sans";
    src: url("../font/OpenSans-Regular.eot");
    src: url("../font/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../font/OpenSans-Regular.woff2") format("woff2"), url("../font/OpenSans-Regular.woff") format("woff"), url("../font/OpenSans-Regular.ttf") format("truetype"), url("../font/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("../font/Gilroy-Bold.eot");
    src: url("../font/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../font/Gilroy-Bold.woff2") format("woff2"), url("../font/Gilroy-Bold.woff") format("woff"), url("../font/Gilroy-Bold.ttf") format("truetype"), url("../font/Gilroy-Bold.svg#Gilroy-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("../font/Gilroy-Light.eot");
    src: url("../font/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../font/Gilroy-Light.woff2") format("woff2"), url("../font/Gilroy-Light.woff") format("woff"), url("../font/Gilroy-Light.ttf") format("truetype"), url("../font/Gilroy-Light.svg#Gilroy-Light") format("svg");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("../font/Gilroy-Medium.eot");
    src: url("../font/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../font/Gilroy-Medium.woff2") format("woff2"), url("../font/Gilroy-Medium.woff") format("woff"), url("../font/Gilroy-Medium.ttf") format("truetype"), url("../font/Gilroy-Medium.svg#Gilroy-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("../font/Gilroy-Regular.eot");
    src: url("../font/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Gilroy-Regular.woff2") format("woff2"), url("../font/Gilroy-Regular.woff") format("woff"), url("../font/Gilroy-Regular.ttf") format("truetype"), url("../font/Gilroy-Regular.svg#Gilroy-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Regular.eot");
    src: url("../font/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Roboto-Regular.woff2") format("woff2"), url("../font/Roboto-Regular.woff") format("woff"), url("../font/Roboto-Regular.ttf") format("truetype"), url("../font/Roboto-Regular.svg#Roboto-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
#stories{
    padding: 0 25px;
}
#outer {
    
     width: 100%;
     overflow: hidden;
     white-space: nowrap;
     display: inline-block;
   }
   #inner {
   
    display: inline-block;
    width: 18vw;
    max-width: 90px;
    margin: 0 6px;
    vertical-align: top;
  }
  
   #left-button {
     float: left;
     width: 30px;
     text-align: center;
   }
   #right-button,  #left-button {
     
     width: 30px;
     position: absolute;
     
   }
   #right-button
{
    left: 0;
    top: 35%;
}
#left-button {
   right: 0;
   top: 35%;
  }
  #right-button a,#left-button a {
      cursor: pointer;
     
   }
   
  
   .hide {
     display: none;
   }
.homeheading {
    font-family: "Gilroy";
    font-weight: bold;
    font-size: 41px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.img-fluidlogo {
    max-width: 100%;
    height: auto;
}

.imghome {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.menu-container {
    margin-bottom: 2em;
}

.flex-item-leftside {
    flex: 30%;
}

.flex-item-rightside {
    flex: 70%;
}

.profilep {
    font-family: "Gilroy";
    font-weight: 500;
    font-size: 14px !important;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff !important;
    max-width: 200px;
    word-break: break-word;
}

.idp {
    font-family: "Open Sans";
    font-weight: normal;
    font-style: normal;
    font-size: 12px !important;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff !important;
    max-width: 200px;
    word-break: break-word;
}

.flex-item-leftbtn {
    flex: 20%;
}

.flex-item-rightbtn {
    flex: 80%;
}

.mt-text {
    margin-top: 0.1rem;
}

.sidebar .sidebar-home {
    display: block;
    font-size: 19px;
    color: #ffffff;
    border-radius: 10px;
    color: rgba(255, 255, 255, .8);
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 1.5rem 1rem .5rem 1rem;
}

.bgfeed {
    background-color: #7a54fc;
}

.bginfo {
    background-color: #ff6968;
}

.bgdisc {
    background-color: #ff8f4b;
}

.bgscore {
    background-color: #b53bfe;
}
.bgfav {
    background-color: #d9adfb;
}
.bgprem {
    background-color: #4c69d6;
}

.mtf-4 {
    margin-top: 4.5rem;
}

.premium {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

#wrapper #content-wrapper {
    width: calc(100% - 350px);
    overflow-x: hidden;
    margin-left: 350px;
}

.homeheading {
    font-family: "Gilroy";
    font-weight: bold;
    font-size: 41px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.imgcircle {
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #ff8f4b;
}

.fleximage {
    display: flex;
    flex-direction: row;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}

.paddingrow {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}

.story-card {
    font-size: 0.875rem;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.8);
   
    margin-top: 30px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
}


.coldiv .col-md-3:last-of-type {
    margin-bottom: 30px;
}
.storyheadingp {
    font-family: "Gilroy";
    font-weight: bold;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #0a1119;
}

.storyp {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 1.67;
    text-align: left;
    color: #718398;
}

.datep {
    font-family: "Gilroy";
    font-weight: 500;
    font-size: 12px;
    line-height: 2.3;
    text-align: left;
    color: #718398;
}

.row1 {
    display: flex;
    flex-direction: row;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
}

.rowinfo {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}


/* Create four equal columns that sits next to each other */

.column {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
    max-width: 25%;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
}


/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .navbar {
        display: none !important;
    }
}

@media (min-width: 799px) {
    .sidebar {
        position: fixed;
        overflow-y: auto;
        height: 100vh;
    }
    .sidebar::-webkit-scrollbar {
        width: 0;
    }
}


/* Laptop */

@media only screen and (min-width: 1024px) and (max-width: 1605px) {
    .mtf-4 {
        margin-top: 1.5rem !important;
    }
    .sidebar {
        width: 250px  !important;
    }
    .sidebar .sidebar-home {
        font-size: 15px;
        color: #ffffff;
        border-radius: 10px;
        color: rgba(255, 255, 255, 0.8);
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        height: 46px;
        line-height: 46px;
        padding: 0 8px;
    }
    .sidebar .sidebar-card { padding: 8px;}
    .coldiv .col-md-3:last-of-type {
        margin-bottom: 25px;
    }
    .story-card {
        padding: 8px;
        margin-top: 25px;
    }
    #wrapper #content-wrapper {
        width: calc(100% - 250px);
        overflow-x: hidden;
        margin-left: 250px;
    }
    .profilep{
        max-width: 160px;
    }
    .idp{
        max-width: 160px;
    }
}